<div class="row dashboard-content">
  <div class="large-12 large-centered columns ">

    <a href="/admin/drivers" class="dashboard-tile driver" >
      <div class="title">
        Drivers
      </div>
    </a>

  </div>
</div>
